.homepage {
	h1 {
		@include rem-fallback("font-size", 3.5);
		span {
			@include rem-fallback("font-size", 5.8);
		}
		margin-bottom: 36px;
	}

	h1, 
	p {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		max-width: 600px;
	}

	.disclaimer {
		margin-top: 30px;
	}
} 